<h1>The book!!</h1>

<%= @book.title %>

<h2>This is the Tag:</h2>
<% @book.tags.each do |b| %>
<li><%= b.name  %></li>
<% end%>

<hr>

<%= link_to 'back', root_path %>
<hr>


<%= link_to 'Add a tag', edit_book_path %>
<br>
<hr>
  

